bot {
    botType = "VK"
    repetition = 3
    telegramToken = ""
    VKToken = ""
    VKGroupID = 0
    helpMessage = "Hi, I'm an echo-bot so when you send me a message you will have the same message in return. You may get information about the bot if you send /help command. You may set the number of repetitions if you send /repeat command."
    logPriority = "Debug"
} 